<!DOCTYPE html>
<!-- file: views/professor/index.html -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Esteban Espinoza Fallas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <title>{{title}} - Practica ## PW Esteban Espinoza Fallas</title>
</head>

<body>
    {{> navbar}}
    <hr><br>
    <div class="container">
        <a href="/authors/create" class="waves-effect waves-light btn-large">NEW</a>
        <div class="row">
            {{#authors}}
            <div class="col m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="/images/author.png" style="max-height: 505px;">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">{{author}}</span>
                        <p>
                            <a href="/authors/{{id}}" class="waves-effect waves-light btn-large">SHOW</a>
                            <a href="/authors/{{id}}/edit" class="waves-effect waves-light btn-large">EDIT</a>
                            <a href="/authors/{{id}}/delete" class="waves-effect waves-light btn-large">ERASE</a>
                        </p>
                    </div>
                </div>
            </div>
            {{/authors}}
        </div>
        <a class="waves-effect waves-light btn-large" href="/">BACK</a>
    </div>
    <br>
    <br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>